<div class="recipes">
  <%= for recipe <- @recipes do %>
    <a class="recipe" href="<%= Routes.page_path(@conn, :detail, recipe.slug) %>">
      <h4 class="recipe-heading mod-list"><%= recipe.name %></h4>
      <span class="recipe-description"><%= recipe.description %></span>
    </a>
  <% end %>
</div>
